body {
  padding-top: 60px;
}

.navbar-brand,
.navbar-nav > li > a{
  height: 60px;
  line-height: 30px;
}

h2 {
  font-size: 3.5rem;
  opacity: .9;
  color: #18305a;
  text-decoration: underline;
}

.carousel-inner > .item {
  min-height: 600px;
  background-size: cover;
  background-position: center center;
}

.container {
  padding-left: 30px;
}

.col-sm-6 > img {
  max-width: 400px;
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 40px;
  padding-top: 40px;
  }

 .thumbnail > img {
   max-width: 100px;
   margin-top:10px;
 }

.tab-pane > .col-sm-6 {
  min-height: 300px;
}

.btn-info {
  color: #333;
  background-color: transparent;
  border-color: #362d20;
  border-width: 3px;
}

.btn-info:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}


footer {
 margin-top: 100px;
  height: 70px;
  background-color: #222222;
}

footer p {
  margin-left: 40px;
  color: #fff;
  padding-top: 20px;
  opacity: .5;
}

.instagram img {
  transition: 0.3s linear;
  height: 150px;
  margin-top: 40px;
 margin-left: 30px;;
}
.instagram:hover img {
  transform: scale(1.3);
}

.facebook img {
  transition: 0.3s linear;
  height: 150px;
  margin-top: 40px;
 margin-left: 30px;
}
.facebook:hover img {
  transform: scale(1.3);
}

.linkedin img {
  transition: 0.3s linear;
  height: 150px;
  margin-top: 40px;
 margin-left: 30px;
}
.linkedin:hover img {
  transform: scale(1.3);
}

.email img {
  transition: 0.3s linear;
  height: 150px;
  margin-top: 40px;
  margin-left: 30px;
}
.email:hover img {
  transform: scale(1.3);
}

.foto img {
  height: 350px;
  margin-top: 50px;
  margin-left: 50px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,#60e3f2);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#00a5b7);
